<div class="container">
	<div class="sixteen columns">
		<h1 id="headline">&nbsp;</h1>
	</div>
	<div class="sixteen columns">
		<div class="sep"></div>
	</div>
	<div class="sixteen columns">
		<div class="about-us-desc">
			<p class="subhead">
				1993 yılından bu yana deneyimlerimizle aktifiz. 
				2010 yılına kadar Naska İnşaat olarak projelerimize devam ettik. 
				Firmamız mimari tasarım, proje, danışmanlık ve inşaat hizmet vermektedir. 
				Bu hizmetler müşteri istekleri yolunda ve kalite ilkelerimizle şekillenmektedir. 
				Yaratıcı mimari görünüm, tasarım çeşitliliği, en uygun en modern malzeme seçimi ve her geçen gün analiz ile birçok nitelikli projeyi imzalıyoruz.
			</p>
		</div>
	</div>
</div>
<div id="testimonials">
	<div class="container">
		<div class="sixteen columns">
			<h3>KALİTE POLİTİKAMIZ</h3>
		</div>
		<div class="sixteen columns">
			<ul class="slider3">
				<li>
					<div class="test">
						<div class="icon-test">&#xf10e;</div>
						<h6>
							Müşteri memnuniyetine odaklanan çalışmalarımız, müşteri ile etkin iletişimimiz,
						</h6>
						<p class="text-center"><span>Değerlerimiz</span></p>
					</div>
				</li>
				<li>
					<div class="test">
						<div class="icon-test">&#xf10e;</div>
						<h6>
							ilkeli çalışmalarımız ve yetkin projeleri analizimiz, çağdaş, modern yaklaşımlarımız ve büyümeyi ve değişmeyi fark eden ekiple.
						</h6>
						<p class="text-center"><span>Değerlerimiz</span></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="about-img-wrap">
	<div class="container">
		<div class="sixteen columns">
			<img src=@Url.Content("~/images/kurumsal2.png") alt="" />
		</div>
	</div>
</div>
<div class="clients">
	<div class="container">
		<div class="clients-wrap">
			<ul class="slider8">
				<li>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/1.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/2.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/3.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/4.png") alt="" />
					</div>
				</li>
				<li>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/5.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/6.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/7.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/8.png") alt="" />
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
