
<div class="container">
	<div class="sixteen columns">
		<h1 id="headline3">&nbsp;</h1>
	</div>
	<div class="sixteen columns">
		<div class="sep"></div>
	</div>
	<div class="sixteen columns">
		<p class="subhead">
			SİZE EN İYİ FIRSATI SUNUYORUZ.
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="white-bx">
			<div class="icon-contact">&#xf015;</div>
			<p>NASKA İNŞAAT DIŞ TİC.SAN.LTD.ŞTİ </p>
			<p>Başakşehir Mah. Olimpiyat Bulvarı, Bahçetepe İstanbul Sitesi Medikule F2 Blok No: 180 Başakşehir / İSTANBUL</p>

			<div class="icon-contact">&#xf095;</div>
			<p>+90 212 485 84 70</p>

			<div class="icon-contact">&#xf003;</div>
			<p><a href="mailto:info@naskainsaat.com">info@naskainsaat.com</a></p>
		</div>
	</div>
</div>
@* <div class="sixteen columns">
	<p class="subhead" style="display:flex; align-items:center;justify-content:center;">CONTACT FORM</p>
</div> *@
<div id="contact-mes">
	<div class="container">
		<div class="blog-wrap" style="display:flex;flex-direction:row;">
			<div class="eight columns">
				<ul class="slider5">
					<li>
						<img src=@Url.Content("~/images/bina.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/kroki.jpg") alt="" />
					</li>
				</ul>
			</div>
			<div class="eight columns">
				<form name="ajax-form" id="ajax-form" action="mail-it.php" method="post">
					<div class="eight columns">
						<label for="name">
							İsim: *
							<span class="error" id="err-name">please enter name</span>
						</label>
						<input name="name" id="name" type="text" />
					</div>
					<div class="eight columns">
						<label for="E-Posta">
							E-MAIL: *
							<span class="error" id="err-email">please enter e-mail</span>
							<span class="error" id="err-emailvld">e-mail is not a valid format</span>
						</label>
						<input name="email" id="email" type="text" />
					</div>
					<div class="eight columns">
						<label for="message">Mesaj:</label>
						<textarea name="message" id="message"></textarea>
						<button class="send_message" id="send">Gönder</button>
						<div class="error" id="err-form">There was a problem validating the form please check!</div>
						<div class="error" id="err-timedout">The connection to the server timed out!</div>
						<div class="error" id="err-state"></div>
					</div>
				</form>
				<div id="ajaxsuccess">Successfully sent!!</div>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="sixteen columns">
	<div class="sep"></div>
</div>
<div class="sixteen columns">
</div>
<div id="map">
	<iframe style="width:100%; height:300px; border:0" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=209508694854374484149.0004ffc92d07d2fb08376&amp;hl=tr&amp;ie=UTF8&amp;ll=41.093993, 28.774820&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe><br /><small>Şunu daha büyük bir haritada görüntüle: <a href="https://www.google.com/maps/ms?msa=0&amp;msid=209508694854374484149.0004ffc92d07d2fb08376&amp;hl=tr&amp;ie=UTF8&amp;ll=41.093993, 28.774820&amp;spn=0,0&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">NASKA İNŞAAT</a></small>
</div>
<div class="clear"></div>
<div class="sixteen columns">
	<div class="sep"></div>
</div>
<div id="contact-details">
</div>
<div class="clients">
	<div class="container">
		<div class="clients-wrap">
			<ul class="slider8">
				<li>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/1.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/2.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/3.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/4.png") alt="" />
					</div>
				</li>
				<li>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/5.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/6.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/7.png") alt="" />
					</div>
					<div class="four columns">
						<img src=@Url.Content("~/images/logo/8.png") alt="" />
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
