@{
	Layout = "_Layout";
}

<section id="content">
	<section id="content">
		<article id="home" class="active">
			<div class="social-side">
				<div class="icon-side"><a href=@Url.ActionLink("Index", "Home")>TR </a>-<a href=@Url.ActionLink("Index", "Home")> EN</a></div>
			</div>
			<div class="small-text1">
				<div class="cl-effect-5">
					<a href=@Url.ActionLink("Projects", "Home")><span data-hover="Projeler">Projeler</span></a> <a href=@Url.ActionLink("Contact", "Home")><span data-hover="Bize Ulaşın">Bize Ulaşın</span></a>
				</div>
			</div>
			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/1.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo">
								<div class="big-text">SHAPING THE FUTURE OF <span> ARCHITECTURAL DESIGN</span></div>
							</div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/2.jpg") alt="" />
							<div class="just_pattern"></div>
							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">GIVES THE RIGHT DECISION <span> ON YOUR BEHALF</span></div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/3.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">TAKING TARGET <span>THE FUTURE </span></div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/4.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">VISIONAL AESTHETIC <span>SOLUTIONS</span></div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/5.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">CONTEMPORARY ART MEETS <span>MODERN STRUCTURES</span></div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/6.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">EVERYTHING <span> FOR YOUR LOVED ONES </span> THAT YOU THINK</div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/7.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">PROJECTS THAT <span>CHANGING</span> YOUR PERPECTIVE</div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/8.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text"><span>WE ARE CHANGING YOUR PERCEPTION OF</span> QUALITY</div></div>
						</li>
						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/10.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">WE ARE DEVOLOPING <span> YOUR IMAGES</span></div></div>
						</li>

						<li data-transition="fade" data-slotamount="1" data-masterspeed="400">
							<img src=@Url.Content("~/images/11.jpg") alt="" />
							<div class="just_pattern"></div>

							<div class="caption big-text lft ltt" data-x="center" data-y="center" data-speed="500" data-start="500" data-easing="easeOutExpo"><div class="big-text">ENVIRONMENTAL AND <span> NATURAL </span> PROJECTS</div></div>
						</li>
					</ul>
				</div>
			</div>
		</article>
		<article id="group" class="off">
			<div class="container">
				<div class="sixteen columns">
					<h1 id="headline1">&nbsp;</h1>
				</div>
				<div class="sixteen columns">
					<div class="sep"></div>
				</div>
			</div>
			<div class="container">
				<div class="all-works all-works-ah">

					<div class="row">
						<div class="column">
							<div class="company-card">
								<div class="text-center">
									<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") style="max-width:100%;" alt="">
								</div>
								<h2>PUT THE COMPANY NAME HERE</h2>
								<small>COMPANY TITLE</small>
								<div class="text-center">
									<a class="expander" href="sirket-detay.html" title="">
										<div class="right-zoom">&#xf002;</div>
									</a>

								</div>
							</div>
						</div>
						<div class="column">
							<div class="company-card">
								<div class="text-center">
									<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") style="max-width:100%;" alt="">
								</div>
								<h2>PUT THE COMPANY NAME HERE</h2>
								<small>COMPANY TITLE</small>
								<div class="text-center">
									<a class="expander" href="sirket-detay.html" title="">
										<div class="right-zoom">&#xf002;</div>
									</a>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="company-card">
								<div class="text-center">
									<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") style="max-width:100%;" alt="">
								</div>
								<h2>PUT THE COMPANY NAME HERE</h2>
								<small>COMPANY TITLE</small>
								<div class="text-center">
									<a class="expander" href="sirket-detay.html" title="">
										<div class="right-zoom">&#xf002;</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="step-by-step">
				<div id="sync3" class="owl-carousel">
					<div class="item background1">
						<div class="white-cover"></div>
						<div class="container z-index-services">
							<div class="sixteen columns">
								<h3>ZEKİ TRİKO </h3>
							</div>
							<div class="sixteen columns">
								<div class="sep1"></div>
							</div>
							<div class="sixteen columns">
								<div class="wrap-process">
									<div class="icon-process"><img src="images/logo/zeki.png" alt="" /> </div>
								</div>
								<div class="wrapper-process">
									<div class="arrow-up"></div>
									<p>THE FACADE CONSTRUCTION WORKS AND INTERIOR STANDS FABRICATION OF ZEKİ TRİKO SHOPS, WHICH IS LOCATED IN CEVAHİR WORK CENTER ISTANBUL, HAD FINISHED BY OUR COMPANY.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item background2">
						<div class="white-cover"></div>
						<div class="container z-index-services">
							<div class="sixteen columns">
								<h3>CAMEL ACTIVE SHOP</h3>
							</div>
							<div class="sixteen columns">
								<div class="sep1"></div>
							</div>
							<div class="sixteen columns">
								<div class="wrap-process">
									<div class="icon-process"><img src="images/logo/camel.png" alt="" /></div>
								</div>
								<div class="wrapper-process">
									<div class="arrow-up"></div>
									<p>THE FACADE CONSTRUCTION WORKS AND FABRICATIONS OF CAMEL ACTIVE SHOPS, WHICH IS LOCATED IN BAGHDAD STREET ISTANBUL, HAD FINISHED BY OUR COMPANY.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item background3">
						<div class="white-cover"></div>
						<div class="container z-index-services">
							<div class="sixteen columns">
								<h3>METRO CITY ESPORTO SOCIAL FLOOR / EXTERIOR COVER SYSTEM</h3>
							</div>
							<div class="sixteen columns">
								<div class="sep1"></div>
							</div>
							<div class="sixteen columns">
								<div class="wrap-process">
									<div class="icon-process"><img src="images/logo/metro.png" alt="" /></div>
								</div>
								<div class="wrapper-process">
									<div class="arrow-up"></div>
									<p>THE FACADE CONSTRUCTION WORKS AND FABRICATIONS OF METRO CITY ESPORTO SOCIAL FLOOR, WHICH IS LOCATED IN LEVENT ISTANBUL, HAD FINISHED BY OUR COMPANY.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item background4">
						<div class="white-cover"></div>
						<div class="container z-index-services">
							<div class="sixteen columns">
								<h3>BP BOLU FUEL OIL STATION</h3>
							</div>
							<div class="sixteen columns">
								<div class="sep1"></div>
							</div>
							<div class="sixteen columns">
								<div class="wrap-process">
									<div class="icon-process"><img src="images/logo/bp.png" alt="" />;</div>
								</div>
								<div class="wrapper-process">
									<div class="arrow-up"></div>
									<p>THE FACADE CONSTRUCTION WORKS AND FABRICATIONS OF CAMEL BP FUEL OIL STATION, WHICH IS LOCATED IN BOLU, HAD FINISHED BY OUR COMPANY.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="sync4" class="owl-carousel">
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
				</div>
			</div>
			<div class="clients">
				<div class="container">
					<div class="clients-wrap">
						<ul class="slider8">
							<li>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/1.png") alt="" />
								</div>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/2.png") alt="" />
								</div>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/3.png") alt="" />
								</div>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/4.png") alt="" />
								</div>
							</li>
							<li>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/5.png") alt="" />
								</div>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/6.png") alt="" />
								</div>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/7.png") alt="" />
								</div>
								<div class="four columns">
									<img src=@Url.Content("~/images/logo/8.png") alt="" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
	</section>
</section>