
	<div class="container">
		<div class="sixteen columns">
			<h1 id="headline2">&nbsp;</h1>
		</div>
		<div class="sixteen columns">
			<div class="sep"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="portfolio"></div>
	<div class="expander-wrap relative">
		<div id="expander-wrap">
			<p class="cls-btn"><a class="close">X</a></p>
			<div class="expander-inner"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="container">
		<div class="sixteen columns">
			<div id="portfolio-filter">
				<ul id="filter">
					<li><a href="#" class="current" data-filter="*" title="">TÜM PROJELER</a></li>
					<li><a href="#" data-filter=".biten" title="">TAMAMLANMIŞ PROJELER</a></li>
					<li><a href="#" data-filter=".devam" title="">DEVAM EDEN PROJELER</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="container">
		<div class="all-works">

			<div class="white-bg one-third column one-work devam">
				<div class="img-a">
					<a class="fancybox-effects-d" href=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") title="">
						<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") alt="" />
					</a>
				</div>
				<div class="text-a">
					<h2>
						<a class="expander" href="golteks.html" title="">
							VİLLA İÇ TASARIM
						</a>
					</h2>
				</div>
			</div>

			<div class="white-bg one-third column one-work devam">
				<div class="img-a">
					<a class="fancybox-effects-d" href="~/images/projeler/villa_ictasarim_proje/1.jpg" title="">
						<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") alt="" />
					</a>
				</div>
				<div class="text-a">
					<h2>
						<a class="expander" href="golteks.html" title="">
							VİLLA İÇ TASARIM
						</a>
					</h2>
				</div>
			</div>

			<div class="white-bg one-third column one-work devam">
				<div class="img-a">
					<a class="fancybox-effects-d" href=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") title="">
						<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") alt="" />
					</a>
				</div>
				<div class="text-a">
					<h2>
						<a class="expander" href="golteks.html" title="">
							VİLLA İÇ TASARIM
						</a>
					</h2>
				</div>
			</div>

			<div class="white-bg one-third column one-work biten">
				<div class="img-a">
					<a class="fancybox-effects-d" href=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") title="">
						<img src=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") alt="" />
					</a>
				</div>
				<div class="text-a">
					<h2>
						<a class="expander" href="golteks.html" title="">
							VİLLA İÇ TASARIM
						</a>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="clients">
		<div class="container">
			<div class="clients-wrap">
				<ul class="slider8">
					<li>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/1.png") alt="" />
						</div>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/2.png") alt="" />
						</div>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/3.png") alt="" />
						</div>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/4.png") alt="" />
						</div>
					</li>
					<li>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/5.png") alt="" />
						</div>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/6.png") alt="" />
						</div>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/7.png") alt="" />
						</div>
						<div class="four columns">
							<img src=@Url.Content("~/images/logo/8.png") alt="" />
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../js/jquery.easing.js"></script>
<script type="text/javascript" src="../js/gmaps.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>


<script type="text/javascript" src="../js/flippy.js"></script>
<script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.js"></script>
<script type="text/javascript" src="../js/jquery.custombox.js"></script>
<script type="text/javascript" src="../js/jquery.transit.min.js"></script>
<script type="text/javascript" src="../js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="../js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="../js/jquery.fitvids.js"></script>
<script type="text/javascript" src="../js/jquery.fancybox.js"></script>
<script type="text/javascript" src="../js/owl.carousel.js"></script>
<script type="text/javascript" src="../js/jquery.flexslider.min.js"></script>
<script type="text/javascript" src="../js/contact.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
