

    <div class="container">
        <div class="all-works all-works-ah">

            <div class="row">
                <div class="column">
                    <div class="work-card">
                        <h2>KIA MOTORS GALLERY - SERVICE BUILDINGS</h2>
                        <small>GALLERY - SERVICE BUILDINGS / IRAQ</small>
                        <div class="text-center">
                            <a class="fancybox-effects-d" href=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") title=""><div class="right-zoom">&#xf002;</div></a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="work-card">
                        <h2>KIA MOTORS GALLERY - SERVICE BUILDINGS</h2>
                        <small>GALLERY - SERVICE BUILDINGS / IRAQ</small>
                        <div class="text-center">
                            <a class="fancybox-effects-d" href=@Url.Content("~/images/projeler/villa_ictasarim_proje/1.jpg") title=""><div class="right-zoom">&#xf002;</div></a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="work-card">
                        <h2>KIA MOTORS GALLERY - SERVICE BUILDINGS</h2>
                        <small>GALLERY - SERVICE BUILDINGS / IRAQ</small>
                        <div class="text-center">
                            <a class="fancybox-effects-d" href="images/projeler/suleymaniye_istasyon_proje/1.jpg" title=""><div class="right-zoom">&#xf002;</div></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div id="step-by-step">
        <div id="sync3" class="owl-carousel">
            <div class="item background1">
                <div class="white-cover"></div>
                <div class="container z-index-services">
                    <div class="sixteen columns">
                        <h3>ZEKİ TRİKO </h3>
                    </div>
                    <div class="sixteen columns">
                        <div class="sep1"></div>
                    </div>
                    <div class="sixteen columns">
                        <div class="wrap-process">
                            <div class="icon-process"><img src=@Url.Content("~/images/logo/zeki.png") alt="" /> </div>
                        </div>
                        <div class="wrapper-process">
                            <div class="arrow-up"></div>
                            <p>THE FACADE CONSTRUCTION WORKS AND INTERIOR STANDS FABRICATION OF ZEKİ TRİKO SHOPS, WHICH IS LOCATED IN CEVAHİR WORK CENTER ISTANBUL, HAD FINISHED BY OUR COMPANY.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item background2">
                <div class="white-cover"></div>
                <div class="container z-index-services">
                    <div class="sixteen columns">
                        <h3>CAMEL ACTIVE SHOP</h3>
                    </div>
                    <div class="sixteen columns">
                        <div class="sep1"></div>
                    </div>
                    <div class="sixteen columns">
                        <div class="wrap-process">
                            <div class="icon-process"><img src=@Url.Content("~/images/logo/camel.png") alt="" /></div>
                        </div>
                        <div class="wrapper-process">
                            <div class="arrow-up"></div>
                            <p>THE FACADE CONSTRUCTION WORKS AND FABRICATIONS OF CAMEL ACTIVE SHOPS, WHICH IS LOCATED IN BAGHDAD STREET ISTANBUL, HAD FINISHED BY OUR COMPANY.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item background3">
                <div class="white-cover"></div>
                <div class="container z-index-services">
                    <div class="sixteen columns">
                        <h3>METRO CITY ESPORTO SOCIAL FLOOR / EXTERIOR COVER SYSTEM</h3>
                    </div>
                    <div class="sixteen columns">
                        <div class="sep1"></div>
                    </div>
                    <div class="sixteen columns">
                        <div class="wrap-process">
                            <div class="icon-process"><img src=@Url.Content("~/images/logo/metro.png") alt="" /></div>
                        </div>
                        <div class="wrapper-process">
                            <div class="arrow-up"></div>
                            <p>THE FACADE CONSTRUCTION WORKS AND FABRICATIONS OF METRO CITY ESPORTO SOCIAL FLOOR, WHICH IS LOCATED IN LEVENT ISTANBUL, HAD FINISHED BY OUR COMPANY.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item background4">
                <div class="white-cover"></div>
                <div class="container z-index-services">
                    <div class="sixteen columns">
                        <h3>BP BOLU FUEL OIL STATION</h3>
                    </div>
                    <div class="sixteen columns">
                        <div class="sep1"></div>
                    </div>
                    <div class="sixteen columns">
                        <div class="wrap-process">
                            <div class="icon-process"><img src=@Url.Content("~/images/logo/bp.png") alt="" />;</div>
                        </div>
                        <div class="wrapper-process">
                            <div class="arrow-up"></div>
                            <p>THE FACADE CONSTRUCTION WORKS AND FABRICATIONS OF CAMEL BP FUEL OIL STATION, WHICH IS LOCATED IN BOLU, HAD FINISHED BY OUR COMPANY.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sync4" class="owl-carousel">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
    <div class="clients">
        <div class="container">
            <div class="clients-wrap">
                <ul class="slider8">
                    <li>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/1.png") alt="" />
                        </div>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/2.png") alt="" />
                        </div>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/3.png") alt="" />
                        </div>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/4.png") alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/5.png") alt="" />
                        </div>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/6.png") alt="" />
                        </div>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/7.png") alt="" />
                        </div>
                        <div class="four columns">
                            <img src=@Url.Content("~/images/logo/8.png") alt="" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>