
	<div class="blog-wrap">
		<div class="container">
			<div class="eight columns">
				<ul class="slider5">
					<li>
						<img src=@Url.Content("~/images/uygulamalar/villa1_uygulama/1.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/uygulamalar/villa1_uygulama/2.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/uygulamalar/villa1_uygulama/3.jpg") alt="" />
					</li>
				</ul>
			</div>
			<div class="eight columns">
				<h6>VILLA - 1</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
				<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="blog-wrap post2">
		<div class="container">

			<div class="eight columns">
				<h6>VILLA - 2</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>

			<div class="eight columns">
				<ul class="slider5">
					<li>
						<img src=@Url.Content("~/images/uygulamalar/villa2_uygulama/1.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/uygulamalar/villa2_uygulama/2.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/uygulamalar/villa2_uygulama/3.jpg") alt="" />
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="blog-wrap">
		<div class="container">



			<div class="eight columns">
				<ul class="slider5">
					<li>
						<img src=@Url.Content("~/images/uygulamalar/mahmood_company_uygulama/1.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/uygulamalar/mahmood_company_uygulama/2.jpg") alt="" />
					</li>
				</ul>
			</div>

			<div class="eight columns">
				<h6>MAHMOOD ŞİRKETİ-3</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>


		</div>
	</div>
	<div class="blog-wrap post2">
		<div class="container">

			<div class="eight columns">
				<h6>KERKUK - KIA</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>

			<div class="eight columns">
				<ul class="slider5">
					<li>
						<img src=@Url.Content("~/images/uygulamalar/kerkuk_kia_uygulama/1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/kerkuk_kia_uygulama/2.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/kerkuk_kia_uygulama/3.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/kerkuk_kia_uygulama/4.jpg") alt="" />
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="blog-wrap">
		<div class="container">
			<div class="eight columns">
				<ul class="slider5">
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/2.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/3.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/4.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/5.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/6.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/7.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/8.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/9.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/duhok_kia_uygulamalar/10.jpg") alt="" />
					</li>
				</ul>
			</div>
			<div class="eight columns">
				<h6>DUHOK - KIA</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="blog-wrap post2">
		<div class="container">

			<div class="eight columns">
				<h6>ARBIL - KIA</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>

			<div class="eight columns">
				<ul class="slider5">
					<li>
					<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/2.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/3.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/4.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/5.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/6.jpg") alt="" />
					</li>
					<li>
						<img src=@Url.Content("~/images/uygulamalar/erbil_kia_uygulamalar/7.jpg") alt="" />
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="blog-wrap">
		<div class="container">
			<div class="eight columns">
				<ul class="slider5">
					<li>
					<img src=@Url.Content("~/images/uygulamalar/zaun_zar_1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/zaun_zar_2.jpg") alt="" />
					</li>
				</ul>
			</div>
			<div class="eight columns">
				<h6>ZAUN ZAR ALMANYA</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="blog-wrap post2">
		<div class="container">


			<div class="eight columns">
				<h6>FRANSA HÜKÜMETİ</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>


			<div class="eight columns">
				<ul class="slider5">
					<li>
					<img src=@Url.Content("~/images/uygulamalar/fransiz_konsoloslugu_taksim_1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/fransiz_konsoloslugu_taksim_1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/fransiz_konsoloslugu_tente-1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/fransiz_konsoloslugu_tente-2.jpg") alt="" />
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="blog-wrap post1">
		<div class="container">
			<div class="eight columns">
				<ul class="slider5">
					<li>
					<img src=@Url.Content("~/images/uygulamalar/bentek_1.jpg") alt="" />
					</li>
					<li>
					<img src=@Url.Content("~/images/uygulamalar/bentek_2.jpg") alt="" />
					</li>
				</ul>
			</div>
			<div class="eight columns">
				<h6>BENTEK MECİDİYEKÖY</h6>
				<p>AS COMPANY PIRINCIPLE, WE ARE GOING ON QUALITY OF PRODUCTION, PERFECTION OF ASSEMBLY, RIGHT TIME PLANINNG, AND CUSTOMER PLEASURE.</p>
			<div class="blog-tag"><a href="#">İNŞAAT</a><a href="#">MİMARİ TASARIM</a><a href="#">MONTAJ</a><a href="#">YÜZ PANELİ</a> </div> <div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clients">
		<div class="container">
			<div class="clients-wrap">
				<ul class="slider8">
					<li>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/1.png") alt="" />
						</div>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/2.png") alt="" />
						</div>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/3.png") alt="" />
						</div>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/4.png") alt="" />
						</div>
					</li>
					<li>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/5.png") alt="" />
						</div>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/6.png") alt="" />
						</div>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/7.png") alt="" />
						</div>
						<div class="four columns">
						<img src=@Url.Content("~/images/logo/8.png") alt="" />
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>