
<section class="content">
    <article id="sirket-detay" class="active">
        <div class="footer">
            <div class="container">
                <div class="sixteen columns">
                    <p><span>© Naska Mimari Tasarım, Uygulama ve Müşavirlik Dış Tic. San.Ltd.Şti. 2025 </span> Design by EMİR SÖNMEZ </p>
                </div>
            </div>
        </div>
    </article>
</section>